{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env",
    "@babel/preset-react"
    // {
    //   "modules": false
    // }
  ],
  "plugins": ["@babel/plugin-syntax-jsx", ["@babel/plugin-transform-react-jsx"]]
}
