* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--danger);
  cursor: pointer !important;
  opacity: 0.5;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

html,
body {
  overscroll-behavior-y: contain;
}

#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.content-page {
  background-color: var(--cyan);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.konten {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px !important;
  height: 65vh;
}
.konten-item {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth !important;
}

.konten-item img {
  width: 400px;
  max-width: 75%;
}

.rounded-radius {
  border-radius: 100px;
}

.navBtn {
  width: 60px;
  height: 60px;
  background-size: contain;
  font-size: 0;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  #root {
    height: 100vh;
    overflow-y: hidden;
  }
  .content-page {
    background-attachment: unset !important;
    padding-top: 20px !important;
  }
  .content-page h1 {
    font-size: 1.1rem;
  }
  .content-page h4 {
    font-size: 0.9rem;
    margin-top: -10px !important;
  }
  .konten {
    margin-top: 20px !important;
    height: 75vh;
  }
  .navBtn {
    width: 50px !important;
    height: 50px !important;
  }

  .itemKelas {
    margin-bottom: 10px !important;
  }

  .materi-title {
    transform: translateY(-20%) !important;
    font-size: 0.98rem;
  }
  .materiTitle {
    padding: 5px 15px !important;
    white-space: nowrap;
    overflow: hidden;
  }
}
