.materi-title {
  top: 0;
  transform: translateY(-50%);
  justify-content: space-evenly;
}

.materiTitle {
  left: -20px;
}

.semester {
  right: -20px;
}

.btn-play {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .btn-play {
    height: 100px !important;
    width: 100px !important;
    position: relative;
    padding: 0;
  }
}
@media screen and (max-width: 574px) {
  .btn-play {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
}

table {
  background-color: #fff;
  padding: 0 10px;
  color: #212529;
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px !important;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
th {
  color: #fff;
  background-color: #dc3545;
  border-color: #454d55;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
td,
table th {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  display: table-cell;
}
