.start {
  background-color: var(--orange) !important;
  color: white !important;
}
.start:hover {
  background-color: var(--red) !important;
}

.start-page > div {
  position: absolute;
  bottom: 10%;
  left: 0;
}
